API_PORT=8000
API_NAME=smo-identity
API_PUBLIC_PATHS=/auth/local/login,/auth/local/register

DB_HOST=localhost
DB_PORT=27017
DB_NAME=local_smo_identity
DB_URL=mongodb://${DB_HOST}:${DB_PORT}/${DB_NAME}

JWT_ALG=HS512
JWT_SECRET=dfe55ae98056a40be6fda924144c0656bb19c8bbf3fe35d842efe2d1545df3e4
JWT_AT_EXP=2h
JWT_RT_EXP=60d
